.img-upload {
	max-width: 16rem;
}
.img-upload.small {
	width: 6rem;
}
.img-content img {
	width: 100%;
	cursor: pointer;
	border: 1px solid #edefef;
}
.img-des {
	text-align: center;
	padding: 2px;
	border: 1px solid #ccc;
	background: #edefef;
}

.d-form .card-body {
	max-height: 500px;
	overflow: auto;
}
form .result .table-responsive {
	max-height: 400px;
	overflow: auto;
}
a.disabled,
a:disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: black;
}

#contextMenu {
	position: absolute;
	display: none;
}

label.required:after,
label .required:after {
	content: " *";
	color: #e74c3c;
	position: static;
	margin-left: 5px;
}

/* error */
.error-box {
	height: auto !important;
	position: absolute !important;
	background: url(../../../assets/images/background/user-bg.jpg) no-repeat
		center center #fff !important;
}

/* select 2 */
.has-danger .select2-container {
	border: 1px solid #e46a76;
	border-radius: 5px;
}
