/*skin color*/
.skin-default .topbar {
	background: #fb9678 !important;
}
.td-hover {
	background: #fb9678 !important;
	cursor: pointer !important;
}

/*skin-green*/
.skin-green .td-hover {
	background: #00c292 !important;
	cursor: pointer !important;
	color: #fff !important;
}
/*button*/
.skin-green .text-primary {
	color: #00c292 !important;
}
.skin-green .btn-primary.focus,
.skin-green .btn-primary:focus,
.skin-green .btn-primary:not(:disabled):not(.disabled).active:focus,
.skin-green .btn-primary:not(:disabled):not(.disabled):active:focus,
.skin-green .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 194, 146, 0.5) !important;
}
.skin-green .btn-primary {
	color: #fff !important;
	background-color: #00c292 !important;
	border-color: #00c292;
}
.skin-green .btn-primary:hover {
	color: #fff !important;
	background-color: #009c75 !important;
	border-color: #008f6c;
}
.skin-green .btn-primary.disabled,
.skin-green .btn-primary:disabled {
	color: #fff !important;
	background-color: #00c292 !important;
	border-color: #00c292;
}
.skin-green .btn-primary:not(:disabled):not(.disabled).active,
.skin-green .btn-primary:not(:disabled):not(.disabled):active,
.skin-green .show > .btn-primary.dropdown-toggle {
	color: #fff !important;
	background-color: #008f6c !important;
	border-color: #008262;
}
.skin-green .btn-outline-primary {
	color: #008262;
	border-color: #008262;
}
.skin-green .btn-outline-primary:hover {
	color: #fff !important;
	background-color: #009c75 !important;
	border-color: #008f6c;
}
.skin-green .btn-outline-primary.focus,
.skin-green .btn-outline-primary:focus,
.skin-green .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.skin-green .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.skin-green .show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 194, 146, 0.5) !important;
}

/*bg*/
.skin-green .bg-primary {
	background-color: #00c292 !important;
}
.skin-green a.bg-primary:focus,
.skin-green a.bg-primary:hover,
.skin-green button.bg-primary:focus,
.skin-green button.bg-primary:hover {
	background-color: #00c292 !important;
}

/*table*/
.skin-green .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.skin-green
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button.current:hover {
	color: #fff !important;
	border: 1px solid #00c292 !important;
	background-color: #00c292 !important;
}
.skin-green .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #fff;
	border: 1px solid #00c292 !important;
	background-color: #00c292 !important;
}
.skin-green .table-hover tbody tr:hover {
	background-color: #00c292 !important;
}
.skin-green .page-item.active .page-link {
	color: #fff;
	background-color: #00c292;
	border-color: #00c292;
}

/* input */
.skin-green .form-check-input:checked {
	background-color: #00c292;
	border-color: #00c292;
}
.skin-green .form-check-input[type="checkbox"]:indeterminate {
	background-color: #00c292;
	border-color: #00c292;
}

/* tab active */
.skin-green .tabs-vertical li .nav-link.active,
.skin-green .tabs-vertical li .nav-link:hover,
.skin-green .tabs-vertical li .nav-link.active:focus {
	background: #00c292;
	border: 0px;
	color: #fff;
}
.skin-green .dropdown-menu a:focus {
	background: #00c292;
	border: 0px;
	color: #fff;
}

/*hover*/
.skin-green .page-titles .breadcrumb li.active a {
	color: #00c292 !important;
}
.skin-green .list-menu-content .item:hover {
	color: #00c292;
	border: 1px solid #00c292 !important;
}
.skin-green .customtab li a.nav-link.active,
.skin-green .profile-tab li a.nav-link.active {
	border-bottom: 2px solid #00c292;
	color: #00c292;
}
.skin-green .customtab li a.nav-link:hover,
.skin-green .profile-tab li a.nav-link:hover {
	color: #00c292;
}
.skin-green
	.custom-radio
	.custom-control-input:checked
	~ .custom-control-label::before {
	background-color: #00c292;
}
.skin-green
	.custom-checkbox
	.custom-control-input:checked
	~ .custom-control-label::before,
.skin-green
	.custom-checkbox
	.custom-control-input:indeterminate
	~ .custom-control-label::before {
	background-color: #00c292;
}
.skin-green a {
	color: #00c292;
}
.skin-green .right-sidebar .rpanel-title {
	color: #fff;
	background: #00c292;
}

/*skin-red*/
.skin-red .td-hover {
	background: #e46a76 !important;
	cursor: pointer !important;
	color: #fff !important;
}
/*button*/
.skin-red .text-primary {
	color: #e46a76 !important;
}
.skin-red .btn-primary.focus,
.skin-red .btn-primary:focus,
.skin-red .btn-primary:not(:disabled):not(.disabled).active:focus,
.skin-red .btn-primary:not(:disabled):not(.disabled):active:focus,
.skin-red .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}
.skin-red .btn-primary {
	color: #fff !important;
	background-color: #000000b5 !important;
	border-color: #000;
}
.skin-red .btn-primary:hover {
	color: #fff !important;
	background-color: #000 !important;
	border-color: #000;
}
.skin-red .btn-primary.disabled,
.skin-red .btn-primary:disabled {
	color: #fff !important;
	background-color: #000000b5 !important;
	border-color: #000000b5;
}
.skin-red .btn-primary:not(:disabled):not(.disabled).active,
.skin-red .btn-primary:not(:disabled):not(.disabled):active,
.skin-red .show > .btn-primary.dropdown-toggle {
	color: #fff !important;
	background-color: #000 !important;
	border-color: #000;
}

.skin-red .btn-outline-primary {
	color: #000000b5;
	border-color: #000000b5;
}
.skin-red .btn-outline-primary:hover {
	color: #fff !important;
	background-color: #000000b5 !important;
	border-color: #000000b5;
}
.skin-red .btn-outline-primary.focus,
.skin-red .btn-outline-primary:focus,
.skin-red .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.skin-red .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.skin-red .show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}

/*bg*/
.skin-red .bg-primary {
	background-color: #e46a76 !important;
}
.skin-red a.bg-primary:focus,
.skin-red a.bg-primary:hover,
.skin-red button.bg-primary:focus,
.skin-red button.bg-primary:hover {
	background-color: #e46a76 !important;
}

/*table*/
.skin-red .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.skin-red
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button.current:hover {
	color: #fff !important;
	border: 1px solid #e46a76 !important;
	background-color: #e46a76 !important;
}
.skin-red .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #fff;
	border: 1px solid #e46a76 !important;
	background-color: #e46a76 !important;
}
.skin-red .table-hover tbody tr:hover {
	background-color: #e46a76 !important;
}
.skin-red .page-item.active .page-link {
	color: #fff;
	background-color: #e46a76;
	border-color: #e46a76;
}

/* input */
.skin-red .form-check-input:checked {
	background-color: #e46a76;
	border-color: #e46a76;
}
.skin-red .form-check-input[type="checkbox"]:indeterminate {
	background-color: #e46a76;
	border-color: #e46a76;
}

/* tab active */
.skin-red .tabs-vertical li .nav-link.active,
.skin-red .tabs-vertical li .nav-link:hover,
.skin-red .tabs-vertical li .nav-link.active:focus {
	background: #e46a76;
	border: 0px;
	color: #fff;
}
.skin-red .dropdown-menu a:focus {
	background: #e46a76;
	border: 0px;
	color: #fff;
}

/*hover*/
.skin-red .page-titles .breadcrumb li.active a {
	color: #e46a76 !important;
}
.skin-red .list-menu-content .item:hover {
	color: #e46a76;
	border: 1px solid #e46a76 !important;
}
.skin-red .customtab li a.nav-link.active,
.skin-red .profile-tab li a.nav-link.active {
	border-bottom: 2px solid #e46a76;
	color: #e46a76;
}
.skin-red .customtab li a.nav-link:hover,
.skin-red .profile-tab li a.nav-link:hover {
	color: #e46a76;
}
.skin-red
	.custom-radio
	.custom-control-input:checked
	~ .custom-control-label::before {
	background-color: #e46a76;
}
.skin-red
	.custom-checkbox
	.custom-control-input:checked
	~ .custom-control-label::before,
.skin-red
	.custom-checkbox
	.custom-control-input:indeterminate
	~ .custom-control-label::before {
	background-color: #e46a76;
}
.skin-red a {
	color: #e46a76;
}
.skin-red .right-sidebar .rpanel-title {
	color: #fff;
	background: #e46a76;
}

/*skin-blue*/
.skin-blue .td-hover {
	background: #03a9f3 !important;
	cursor: pointer !important;
	color: #fff !important;
}
/*button*/
.skin-blue .text-primary {
	color: #03a9f3 !important;
}
.skin-blue .btn-primary.focus,
.skin-blue .btn-primary:focus,
.skin-blue .btn-primary:not(:disabled):not(.disabled).active:focus,
.skin-blue .btn-primary:not(:disabled):not(.disabled):active:focus,
.skin-blue .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}
.skin-blue .btn-primary {
	color: #fff !important;
	background-color: #000000b5 !important;
	border-color: #000;
}
.skin-blue .btn-primary:hover {
	color: #fff !important;
	background-color: #000 !important;
	border-color: #000;
}
.skin-blue .btn-primary.disabled,
.skin-blue .btn-primary:disabled {
	color: #fff !important;
	background-color: #000000b5 !important;
	border-color: #000000b5;
}
.skin-blue .btn-primary:not(:disabled):not(.disabled).active,
.skin-blue .btn-primary:not(:disabled):not(.disabled):active,
.skin-blue .show > .btn-primary.dropdown-toggle {
	color: #fff !important;
	background-color: #000 !important;
	border-color: #000;
}
.skin-blue .btn-outline-primary {
	color: #000;
	border-color: #000;
}
.skin-blue .btn-outline-primary:hover {
	color: #fff !important;
	background-color: #000 !important;
	border-color: #000;
}
.skin-blue .btn-outline-primary.focus,
.skin-blue .btn-outline-primary:focus,
.skin-blue .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.skin-blue .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.skin-blue .show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}

/*bg*/
.skin-blue .bg-primary {
	background-color: #03a9f3 !important;
}
.skin-blue a.bg-primary:focus,
.skin-blue a.bg-primary:hover,
.skin-blue button.bg-primary:focus,
.skin-blue button.bg-primary:hover {
	background-color: #03a9f3 !important;
}

/*table*/
.skin-blue .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.skin-blue
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button.current:hover {
	color: #fff !important;
	border: 1px solid #03a9f3 !important;
	background-color: #03a9f3 !important;
}
.skin-blue .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #fff;
	border: 1px solid #03a9f3 !important;
	background-color: #03a9f3 !important;
}
.skin-blue .table-hover tbody tr:hover {
	background-color: #03a9f3 !important;
}
.skin-blue .page-item.active .page-link {
	color: #fff;
	background-color: #03a9f3;
	border-color: #03a9f3;
}

/* input */
.skin-blue .form-check-input:checked {
	background-color: #03a9f3;
	border-color: #03a9f3;
}
.skin-blue .form-check-input[type="checkbox"]:indeterminate {
	background-color: #03a9f3;
	border-color: #03a9f3;
}

/* tab active */
.skin-blue .tabs-vertical li .nav-link.active,
.skin-blue .tabs-vertical li .nav-link:hover,
.skin-blue .tabs-vertical li .nav-link.active:focus {
	background: #03a9f3;
	border: 0px;
	color: #fff;
}
.skin-blue .dropdown-menu a:focus {
	background: #03a9f3;
	border: 0px;
	color: #fff;
}

/*hover*/
.skin-blue .page-titles .breadcrumb li.active a {
	color: #03a9f3 !important;
}
.skin-blue .list-menu-content .item:hover {
	color: #03a9f3;
	border: 1px solid #03a9f3 !important;
}
.skin-blue .customtab li a.nav-link.active,
.skin-blue .profile-tab li a.nav-link.active {
	border-bottom: 2px solid #03a9f3;
	color: #03a9f3;
}
.skin-blue .customtab li a.nav-link:hover,
.skin-blue .profile-tab li a.nav-link:hover {
	color: #03a9f3;
}
.skin-blue
	.custom-radio
	.custom-control-input:checked
	~ .custom-control-label::before {
	background-color: #03a9f3;
}
.skin-blue
	.custom-checkbox
	.custom-control-input:checked
	~ .custom-control-label::before,
.skin-blue
	.custom-checkbox
	.custom-control-input:indeterminate
	~ .custom-control-label::before {
	background-color: #03a9f3;
}
.skin-blue a {
	color: #03a9f3;
}
.skin-blue .right-sidebar .rpanel-title {
	color: #fff;
	background: #03a9f3;
}

/*skin-purple*/
.skin-purple .td-hover {
	background: #6f42c1 !important;
	cursor: pointer !important;
	color: #fff !important;
}
/*button*/
.skin-purple .text-primary {
	color: #6f42c1 !important;
}
.skin-purple .btn-primary.focus,
.skin-purple .btn-primary:focus,
.skin-purple .btn-primary:not(:disabled):not(.disabled).active:focus,
.skin-purple .btn-primary:not(:disabled):not(.disabled):active:focus,
.skin-purple .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}
.skin-purple .btn-primary {
	color: #fff !important;
	background-color: #6f42c1cf !important;
	border-color: #6f42c1;
}
.skin-purple .btn-primary:hover {
	color: #fff !important;
	background-color: #6f42c1 !important;
	border-color: #6f42c1;
}
.skin-purple .btn-primary.disabled,
.skin-purple .btn-primary:disabled {
	color: #fff !important;
	background-color: #6f42c1cf !important;
	border-color: #6f42c1cf;
}
.skin-purple .btn-primary:not(:disabled):not(.disabled).active,
.skin-purple .btn-primary:not(:disabled):not(.disabled):active,
.skin-purple .show > .btn-primary.dropdown-toggle {
	color: #fff !important;
	background-color: #6f42c1 !important;
	border-color: #6f42c1;
}
.skin-purple .btn-outline-primary {
	color: #6f42c1;
	border-color: #6f42c1;
}
.skin-purple .btn-outline-primary:hover {
	color: #fff !important;
	background-color: #6f42c1 !important;
	border-color: #6f42c1;
}
.skin-purple .btn-outline-primary.focus,
.skin-purple .btn-outline-primary:focus,
.skin-purple .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.skin-purple .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.skin-purple .show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}

/*bg*/
.skin-purple .bg-primary {
	background-color: #6f42c1 !important;
}
.skin-purple a.bg-primary:focus,
.skin-purple a.bg-primary:hover,
.skin-purple button.bg-primary:focus,
.skin-purple button.bg-primary:hover {
	background-color: #6f42c1 !important;
}

/*table*/
.skin-purple .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.skin-purple
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button.current:hover {
	color: #fff !important;
	border: 1px solid #6f42c1 !important;
	background-color: #6f42c1 !important;
}
.skin-purple .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #fff;
	border: 1px solid #6f42c1 !important;
	background-color: #6f42c1 !important;
}
.skin-purple .table-hover tbody tr:hover {
	background-color: #6f42c1 !important;
}
.skin-purple .page-item.active .page-link {
	color: #fff;
	background-color: #6f42c1;
	border-color: #6f42c1;
}

/* input */
.skin-purple .form-check-input:checked {
	background-color: #6f42c1;
	border-color: #6f42c1;
}
.skin-purple .form-check-input[type="checkbox"]:indeterminate {
	background-color: #6f42c1;
	border-color: #6f42c1;
}

/* tab active */
.skin-purple .tabs-vertical li .nav-link.active,
.skin-purple .tabs-vertical li .nav-link:hover,
.skin-purple .tabs-vertical li .nav-link.active:focus {
	background: #6f42c1;
	border: 0px;
	color: #fff;
}
.skin-purple .dropdown-menu a:focus {
	background: #6f42c1;
	border: 0px;
	color: #fff;
}

/*hover*/
.skin-purple .page-titles .breadcrumb li.active a {
	color: #6f42c1 !important;
}
.skin-purple .list-menu-content .item:hover {
	color: #6f42c1;
	border: 1px solid #6f42c1 !important;
}
.skin-purple .customtab li a.nav-link.active,
.skin-purple .profile-tab li a.nav-link.active {
	border-bottom: 2px solid #6f42c1;
	color: #6f42c1;
}
.skin-purple .customtab li a.nav-link:hover,
.skin-purple .profile-tab li a.nav-link:hover {
	color: #6f42c1;
}
.skin-purple
	.custom-radio
	.custom-control-input:checked
	~ .custom-control-label::before {
	background-color: #6f42c1;
}
.skin-purple
	.custom-checkbox
	.custom-control-input:checked
	~ .custom-control-label::before,
.skin-purple
	.custom-checkbox
	.custom-control-input:indeterminate
	~ .custom-control-label::before {
	background-color: #6f42c1;
}
.skin-purple a {
	color: #6f42c1;
}
.skin-purple .right-sidebar .rpanel-title {
	color: #fff;
	background: #6f42c1;
}

/*skin-megna*/
.skin-megna .td-hover {
	background: #01c0c8 !important;
	cursor: pointer !important;
	color: #fff !important;
}
/*button*/
.skin-megna .text-primary {
	color: #01c0c8 !important;
}
.skin-megna .btn-primary.focus,
.skin-megna .btn-primary:focus,
.skin-megna .btn-primary:not(:disabled):not(.disabled).active:focus,
.skin-megna .btn-primary:not(:disabled):not(.disabled):active:focus,
.skin-megna .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}
.skin-megna .btn-primary {
	color: #fff !important;
	background-color: #01c0c8cf !important;
	border-color: #01c0c8;
}
.skin-megna .btn-primary:hover {
	color: #fff !important;
	background-color: #01c0c8 !important;
	border-color: #01c0c8;
}
.skin-megna .btn-primary.disabled,
.skin-megna .btn-primary:disabled {
	color: #fff !important;
	background-color: #01c0c8cf !important;
	border-color: #01c0c8cf;
}
.skin-megna .btn-primary:not(:disabled):not(.disabled).active,
.skin-megna .btn-primary:not(:disabled):not(.disabled):active,
.skin-megna .show > .btn-primary.dropdown-toggle {
	color: #fff !important;
	background-color: #01c0c8 !important;
	border-color: #01c0c8;
}
.skin-megna .btn-outline-primary {
	color: #01c0c8;
	border-color: #01c0c8;
}
.skin-megna .btn-outline-primary:hover {
	color: #fff !important;
	background-color: #01c0c8 !important;
	border-color: #01c0c8;
}
.skin-megna .btn-outline-primary.focus,
.skin-megna .btn-outline-primary:focus,
.skin-megna .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.skin-megna .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.skin-megna .show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}

/*bg*/
.skin-megna .bg-primary {
	background-color: #01c0c8 !important;
}
.skin-megna a.bg-primary:focus,
.skin-megna a.bg-primary:hover,
.skin-megna button.bg-primary:focus,
.skin-megna button.bg-primary:hover {
	background-color: #01c0c8 !important;
}

/*table*/
.skin-megna .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.skin-megna
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button.current:hover {
	color: #fff !important;
	border: 1px solid #01c0c8 !important;
	background-color: #01c0c8 !important;
}
.skin-megna .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #fff;
	border: 1px solid #01c0c8 !important;
	background-color: #01c0c8 !important;
}
.skin-megna .table-hover tbody tr:hover {
	background-color: #01c0c8 !important;
}
.skin-megna .page-item.active .page-link {
	color: #fff;
	background-color: #01c0c8;
	border-color: #01c0c8;
}

/* input */
.skin-megna .form-check-input:checked {
	background-color: #01c0c8;
	border-color: #01c0c8;
}
.skin-megna .form-check-input[type="checkbox"]:indeterminate {
	background-color: #01c0c8;
	border-color: #01c0c8;
}

/* tab active */
.skin-megna .tabs-vertical li .nav-link.active,
.skin-megna .tabs-vertical li .nav-link:hover,
.skin-megna .tabs-vertical li .nav-link.active:focus {
	background: #01c0c8;
	border: 0px;
	color: #fff;
}
.skin-megna .dropdown-menu a:focus {
	background: #01c0c8;
	border: 0px;
	color: #fff;
}

/*hover*/
.skin-megna .page-titles .breadcrumb li.active a {
	color: #01c0c8 !important;
}
.skin-megna .list-menu-content .item:hover {
	color: #01c0c8;
	border: 1px solid #01c0c8 !important;
}
.skin-megna .customtab li a.nav-link.active,
.skin-megna .profile-tab li a.nav-link.active {
	border-bottom: 2px solid #01c0c8;
	color: #01c0c8;
}
.skin-megna .customtab li a.nav-link:hover,
.skin-megna .profile-tab li a.nav-link:hover {
	color: #01c0c8;
}
.skin-megna
	.custom-radio
	.custom-control-input:checked
	~ .custom-control-label::before {
	background-color: #01c0c8;
}
.skin-megna
	.custom-checkbox
	.custom-control-input:checked
	~ .custom-control-label::before,
.skin-megna
	.custom-checkbox
	.custom-control-input:indeterminate
	~ .custom-control-label::before {
	background-color: #01c0c8;
}
.skin-megna a {
	color: #01c0c8;
}
.skin-megna .right-sidebar .rpanel-title {
	color: #fff;
	background: #01c0c8;
}

/*skin-green-dark*/
.skin-green-dark .td-hover {
	background: #00c292 !important;
	cursor: pointer !important;
	color: #fff !important;
}
/*button*/
.skin-green-dark .text-primary {
	color: #00c292 !important;
}
.skin-green-dark .btn-primary.focus,
.skin-green-dark .btn-primary:focus,
.skin-green-dark .btn-primary:not(:disabled):not(.disabled).active:focus,
.skin-green-dark .btn-primary:not(:disabled):not(.disabled):active:focus,
.skin-green-dark .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 194, 146, 0.5) !important;
}
.skin-green-dark .btn-primary {
	color: #fff !important;
	background-color: #00c292 !important;
	border-color: #00c292;
}
.skin-green-dark .btn-primary:hover {
	color: #fff !important;
	background-color: #009c75 !important;
	border-color: #008f6c;
}
.skin-green-dark .btn-primary.disabled,
.skin-green-dark .btn-primary:disabled {
	color: #fff !important;
	background-color: #00c292 !important;
	border-color: #00c292;
}
.skin-green-dark .btn-primary:not(:disabled):not(.disabled).active,
.skin-green-dark .btn-primary:not(:disabled):not(.disabled):active,
.skin-green-dark .show > .btn-primary.dropdown-toggle {
	color: #fff !important;
	background-color: #008f6c !important;
	border-color: #008262;
}
.skin-green-dark .btn-outline-primary {
	color: #008f6c;
	border-color: #008f6c;
}
.skin-green-dark .btn-outline-primary:hover {
	color: #fff !important;
	background-color: #008f6c !important;
	border-color: #008f6c;
}
.skin-green-dark .btn-outline-primary.focus,
.skin-green-dark .btn-outline-primary:focus,
.skin-green-dark
	.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.skin-green-dark
	.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.skin-green-dark .show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 194, 146, 0.5) !important;
}

/*bg*/
.skin-green-dark .bg-primary {
	background-color: #00c292 !important;
}
.skin-green-dark a.bg-primary:focus,
.skin-green-dark a.bg-primary:hover,
.skin-green-dark button.bg-primary:focus,
.skin-green-dark button.bg-primary:hover {
	background-color: #00c292 !important;
}

/*table*/
.skin-green-dark
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button.current,
.skin-green-dark
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button.current:hover {
	color: #fff !important;
	border: 1px solid #00c292 !important;
	background-color: #00c292 !important;
}
.skin-green-dark
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button:hover {
	color: #fff;
	border: 1px solid #00c292 !important;
	background-color: #00c292 !important;
}
.skin-green-dark .table-hover tbody tr:hover {
	background-color: #00c292 !important;
}
.skin-green-dark .page-item.active .page-link {
	color: #fff;
	background-color: #00c292;
	border-color: #00c292;
}

/* input */
.skin-green-dark .form-check-input:checked {
	background-color: #00c292;
	border-color: #00c292;
}
.skin-green-dark .form-check-input[type="checkbox"]:indeterminate {
	background-color: #00c292;
	border-color: #00c292;
}

/* tab active */
.skin-green-dark .tabs-vertical li .nav-link.active,
.skin-green-dark .tabs-vertical li .nav-link:hover,
.skin-green-dark .tabs-vertical li .nav-link.active:focus {
	background: #00c292;
	border: 0px;
	color: #fff;
}
.skin-green-dark .dropdown-menu a:focus {
	background: #00c292;
	border: 0px;
	color: #fff;
}

/*hover*/
.skin-green-dark .page-titles .breadcrumb li.active a {
	color: #00c292 !important;
}
.skin-green-dark .list-menu-content .item:hover {
	color: #00c292;
	border: 1px solid #00c292 !important;
}
.skin-green-dark .customtab li a.nav-link.active,
.skin-green-dark .profile-tab li a.nav-link.active {
	border-bottom: 2px solid #00c292;
	color: #00c292;
}
.skin-green-dark .customtab li a.nav-link:hover,
.skin-green-dark .profile-tab li a.nav-link:hover {
	color: #00c292;
}
.skin-green-dark
	.custom-radio
	.custom-control-input:checked
	~ .custom-control-label::before {
	background-color: #00c292;
}
.skin-green-dark
	.custom-checkbox
	.custom-control-input:checked
	~ .custom-control-label::before,
.skin-green-dark
	.custom-checkbox
	.custom-control-input:indeterminate
	~ .custom-control-label::before {
	background-color: #00c292;
}
.skin-green-dark a {
	color: #00c292;
}
.skin-green-dark .right-sidebar .rpanel-title {
	color: #fff;
	background: #00c292;
}

/*skin-red-dark*/
.skin-red-dark .td-hover {
	background: #e46a76 !important;
	cursor: pointer !important;
	color: #fff !important;
}
/*button*/
.skin-red-dark .text-primary {
	color: #e46a76 !important;
}
.skin-red-dark .btn-primary.focus,
.skin-red-dark .btn-primary:focus,
.skin-red-dark .btn-primary:not(:disabled):not(.disabled).active:focus,
.skin-red-dark .btn-primary:not(:disabled):not(.disabled):active:focus,
.skin-red-dark .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}
.skin-red-dark .btn-primary {
	color: #fff !important;
	background-color: #000000b5 !important;
	border-color: #000;
}
.skin-red-dark .btn-primary:hover {
	color: #fff !important;
	background-color: #000 !important;
	border-color: #000;
}
.skin-red-dark .btn-primary.disabled,
.skin-red-dark .btn-primary:disabled {
	color: #fff !important;
	background-color: #000000b5 !important;
	border-color: #000000b5;
}
.skin-red-dark .btn-primary:not(:disabled):not(.disabled).active,
.skin-red-dark .btn-primary:not(:disabled):not(.disabled):active,
.skin-red-dark .show > .btn-primary.dropdown-toggle {
	color: #fff !important;
	background-color: #000 !important;
	border-color: #000;
}
.skin-red-dark .btn-outline-primary {
	color: #000000b5;
	border-color: #000000b5;
}
.skin-red-dark .btn-outline-primary:hover {
	color: #fff !important;
	background-color: #000000b5 !important;
	border-color: #000000b5;
}
.skin-red-dark .btn-outline-primary.focus,
.skin-red-dark .btn-outline-primary:focus,
.skin-red-dark .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.skin-red-dark .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.skin-red-dark .show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}

/*bg*/
.skin-red-dark .bg-primary {
	background-color: #e46a76 !important;
}
.skin-red-dark a.bg-primary:focus,
.skin-red-dark a.bg-primary:hover,
.skin-red-dark button.bg-primary:focus,
.skin-red-dark button.bg-primary:hover {
	background-color: #e46a76 !important;
}

/*table*/
.skin-red-dark
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button.current,
.skin-red-dark
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button.current:hover {
	color: #fff !important;
	border: 1px solid #e46a76 !important;
	background-color: #e46a76 !important;
}
.skin-red-dark .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #fff;
	border: 1px solid #e46a76 !important;
	background-color: #e46a76 !important;
}
.skin-red-dark .table-hover tbody tr:hover {
	background-color: #e46a76 !important;
}
.skin-red-dark .page-item.active .page-link {
	color: #fff;
	background-color: #e46a76;
	border-color: #e46a76;
}

/* input */
.skin-red-dark .form-check-input:checked {
	background-color: #e46a76;
	border-color: #e46a76;
}
.skin-red-dark .form-check-input[type="checkbox"]:indeterminate {
	background-color: #e46a76;
	border-color: #e46a76;
}

/* tab active */
.skin-red-dark .tabs-vertical li .nav-link.active,
.skin-red-dark .tabs-vertical li .nav-link:hover,
.skin-red-dark .tabs-vertical li .nav-link.active:focus {
	background: #e46a76;
	border: 0px;
	color: #fff;
}
.skin-red-dark .dropdown-menu a:focus {
	background: #e46a76;
	border: 0px;
	color: #fff;
}

/*hover*/
.skin-red-dark .page-titles .breadcrumb li.active a {
	color: #e46a76 !important;
}
.skin-red-dark .list-menu-content .item:hover {
	color: #e46a76;
	border: 1px solid #e46a76 !important;
}
.skin-red-dark .customtab li a.nav-link.active,
.skin-red-dark .profile-tab li a.nav-link.active {
	border-bottom: 2px solid #e46a76;
	color: #e46a76;
}
.skin-red-dark .customtab li a.nav-link:hover,
.skin-red-dark .profile-tab li a.nav-link:hover {
	color: #e46a76;
}
.skin-red-dark
	.custom-radio
	.custom-control-input:checked
	~ .custom-control-label::before {
	background-color: #e46a76;
}
.skin-red-dark
	.custom-checkbox
	.custom-control-input:checked
	~ .custom-control-label::before,
.skin-red-dark
	.custom-checkbox
	.custom-control-input:indeterminate
	~ .custom-control-label::before {
	background-color: #e46a76;
}
.skin-red-dark a {
	color: #e46a76;
}
.skin-red-dark .right-sidebar .rpanel-title {
	color: #fff;
	background: #e46a76;
}

/*skin-blue-dark*/
.skin-blue-dark .td-hover {
	background: #03a9f3 !important;
	cursor: pointer !important;
	color: #fff !important;
}
/*button*/
.skin-blue-dark .text-primary {
	color: #03a9f3 !important;
}
.skin-blue-dark .btn-primary.focus,
.skin-blue-dark .btn-primary:focus,
.skin-blue-dark .btn-primary:not(:disabled):not(.disabled).active:focus,
.skin-blue-dark .btn-primary:not(:disabled):not(.disabled):active:focus,
.skin-blue-dark .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}
.skin-blue-dark .btn-primary {
	color: #fff !important;
	background-color: #000000b5 !important;
	border-color: #000;
}
.skin-blue-dark .btn-primary:hover {
	color: #fff !important;
	background-color: #000 !important;
	border-color: #000;
}
.skin-blue-dark .btn-primary.disabled,
.skin-blue-dark .btn-primary:disabled {
	color: #fff !important;
	background-color: #000000b5 !important;
	border-color: #000000b5;
}
.skin-blue-dark .btn-primary:not(:disabled):not(.disabled).active,
.skin-blue-dark .btn-primary:not(:disabled):not(.disabled):active,
.skin-blue-dark .show > .btn-primary.dropdown-toggle {
	color: #fff !important;
	background-color: #000 !important;
	border-color: #000;
}
.skin-blue-dark .btn-outline-primary {
	color: #000;
	border-color: #000;
}
.skin-blue-dark .btn-outline-primary:hover {
	color: #fff !important;
	background-color: #000 !important;
	border-color: #000;
}
.skin-blue-dark .btn-outline-primary.focus,
.skin-blue-dark .btn-outline-primary:focus,
.skin-blue-dark .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.skin-blue-dark .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.skin-blue-dark .show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}

/*bg*/
.skin-blue-dark .bg-primary {
	background-color: #03a9f3 !important;
}
.skin-blue-dark a.bg-primary:focus,
.skin-blue-dark a.bg-primary:hover,
.skin-blue-dark button.bg-primary:focus,
.skin-blue-dark button.bg-primary:hover {
	background-color: #03a9f3 !important;
}

/*table*/
.skin-blue-dark
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button.current,
.skin-blue-dark
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button.current:hover {
	color: #fff !important;
	border: 1px solid #03a9f3 !important;
	background-color: #03a9f3 !important;
}
.skin-blue-dark
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button:hover {
	color: #fff;
	border: 1px solid #03a9f3 !important;
	background-color: #03a9f3 !important;
}
.skin-blue-dark .table-hover tbody tr:hover {
	background-color: #03a9f3 !important;
}
.skin-blue-dark .page-item.active .page-link {
	color: #fff;
	background-color: #03a9f3;
	border-color: #03a9f3;
}

/* input */
.skin-blue-dark .form-check-input:checked {
	background-color: #03a9f3;
	border-color: #03a9f3;
}
.skin-blue-dark .form-check-input[type="checkbox"]:indeterminate {
	background-color: #03a9f3;
	border-color: #03a9f3;
}

/* tab active */
.skin-blue-dark .tabs-vertical li .nav-link.active,
.skin-blue-dark .tabs-vertical li .nav-link:hover,
.skin-blue-dark .tabs-vertical li .nav-link.active:focus {
	background: #03a9f3;
	border: 0px;
	color: #fff;
}
.skin-blue-dark .dropdown-menu a:focus {
	background: #03a9f3;
	border: 0px;
	color: #fff;
}

/*hover*/
.skin-blue-dark .page-titles .breadcrumb li.active a {
	color: #03a9f3 !important;
}
.skin-blue-dark .list-menu-content .item:hover {
	color: #03a9f3;
	border: 1px solid #03a9f3 !important;
}
.skin-blue-dark .customtab li a.nav-link.active,
.skin-blue-dark .profile-tab li a.nav-link.active {
	border-bottom: 2px solid #03a9f3;
	color: #03a9f3;
}
.skin-blue-dark .customtab li a.nav-link:hover,
.skin-blue-dark .profile-tab li a.nav-link:hover {
	color: #03a9f3;
}
.skin-blue-dark
	.custom-radio
	.custom-control-input:checked
	~ .custom-control-label::before {
	background-color: #03a9f3;
}
.skin-blue-dark
	.custom-checkbox
	.custom-control-input:checked
	~ .custom-control-label::before,
.skin-blue-dark
	.custom-checkbox
	.custom-control-input:indeterminate
	~ .custom-control-label::before {
	background-color: #03a9f3;
}
.skin-blue-dark a {
	color: #03a9f3;
}
.skin-blue-dark .right-sidebar .rpanel-title {
	color: #fff;
	background: #03a9f3;
}

/*skin-purple-dark*/
.skin-purple-dark .td-hover {
	background: #6f42c1 !important;
	cursor: pointer !important;
	color: #fff !important;
}
/*button*/
.skin-purple-dark .text-primary {
	color: #6f42c1 !important;
}
.skin-purple-dark .btn-primary.focus,
.skin-purple-dark .btn-primary:focus,
.skin-purple-dark .btn-primary:not(:disabled):not(.disabled).active:focus,
.skin-purple-dark .btn-primary:not(:disabled):not(.disabled):active:focus,
.skin-purple-dark .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}
.skin-purple-dark .btn-primary {
	color: #fff !important;
	background-color: #6f42c1cf !important;
	border-color: #6f42c1;
}
.skin-purple-dark .btn-primary:hover {
	color: #fff !important;
	background-color: #6f42c1 !important;
	border-color: #6f42c1;
}
.skin-purple-dark .btn-primary.disabled,
.skin-purple-dark .btn-primary:disabled {
	color: #fff !important;
	background-color: #6f42c1cf !important;
	border-color: #6f42c1cf;
}
.skin-purple-dark .btn-primary:not(:disabled):not(.disabled).active,
.skin-purple-dark .btn-primary:not(:disabled):not(.disabled):active,
.skin-purple-dark .show > .btn-primary.dropdown-toggle {
	color: #fff !important;
	background-color: #6f42c1 !important;
	border-color: #6f42c1;
}
.skin-purple-dark .btn-outline-primary {
	color: #6f42c1;
	border-color: #6f42c1;
}
.skin-purple-dark .btn-outline-primary:hover {
	color: #fff !important;
	background-color: #6f42c1 !important;
	border-color: #6f42c1;
}
.skin-purple-dark .btn-outline-primary.focus,
.skin-purple-dark .btn-outline-primary:focus,
.skin-purple-dark
	.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.skin-purple-dark
	.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.skin-purple-dark .show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}

/*bg*/
.skin-purple-dark .bg-primary {
	background-color: #6f42c1 !important;
}
.skin-purple-dark a.bg-primary:focus,
.skin-purple-dark a.bg-primary:hover,
.skin-purple-dark button.bg-primary:focus,
.skin-purple-dark button.bg-primary:hover {
	background-color: #6f42c1 !important;
}

/*table*/
.skin-purple-dark
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button.current,
.skin-purple-dark
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button.current:hover {
	color: #fff !important;
	border: 1px solid #6f42c1 !important;
	background-color: #6f42c1 !important;
}
.skin-purple-dark
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button:hover {
	color: #fff;
	border: 1px solid #6f42c1 !important;
	background-color: #6f42c1 !important;
}
.skin-purple-dark .table-hover tbody tr:hover {
	background-color: #6f42c1 !important;
}
.skin-purple-dark .page-item.active .page-link {
	color: #fff;
	background-color: #6f42c1;
	border-color: #6f42c1;
}

/* input */
.skin-purple-dark .form-check-input:checked {
	background-color: #6f42c1;
	border-color: #6f42c1;
}
.skin-purple-dark .form-check-input[type="checkbox"]:indeterminate {
	background-color: #6f42c1;
	border-color: #6f42c1;
}

/* tab active */
.skin-purple-dark .tabs-vertical li .nav-link.active,
.skin-purple-dark .tabs-vertical li .nav-link:hover,
.skin-purple-dark .tabs-vertical li .nav-link.active:focus {
	background: #6f42c1;
	border: 0px;
	color: #fff;
}
.skin-purple-dark .dropdown-menu a:focus {
	background: #6f42c1;
	border: 0px;
	color: #fff;
}

/*hover*/
.skin-purple-dark .page-titles .breadcrumb li.active a {
	color: #6f42c1 !important;
}
.skin-purple-dark .list-menu-content .item:hover {
	color: #6f42c1;
	border: 1px solid #6f42c1 !important;
}
.skin-purple-dark .customtab li a.nav-link.active,
.skin-purple-dark .profile-tab li a.nav-link.active {
	border-bottom: 2px solid #6f42c1;
	color: #6f42c1;
}
.skin-purple-dark .customtab li a.nav-link:hover,
.skin-purple-dark .profile-tab li a.nav-link:hover {
	color: #6f42c1;
}
.skin-purple-dark
	.custom-radio
	.custom-control-input:checked
	~ .custom-control-label::before {
	background-color: #6f42c1;
}
.skin-purple-dark
	.custom-checkbox
	.custom-control-input:checked
	~ .custom-control-label::before,
.skin-purple-dark
	.custom-checkbox
	.custom-control-input:indeterminate
	~ .custom-control-label::before {
	background-color: #6f42c1;
}
.skin-purple-dark a {
	color: #6f42c1;
}
.skin-purple-dark .right-sidebar .rpanel-title {
	color: #fff;
	background: #6f42c1;
}

/*skin-megna-dark*/
.skin-megna-dark .td-hover {
	background: #01c0c8 !important;
	cursor: pointer !important;
	color: #fff !important;
}
/*button*/
.skin-megna-dark .text-primary {
	color: #01c0c8 !important;
}
.skin-megna-dark .btn-primary.focus,
.skin-megna-dark .btn-primary:focus,
.skin-megna-dark .btn-primary:not(:disabled):not(.disabled).active:focus,
.skin-megna-dark .btn-primary:not(:disabled):not(.disabled):active:focus,
.skin-megna-dark .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}
.skin-megna-dark .btn-primary {
	color: #fff !important;
	background-color: #01c0c8cf !important;
	border-color: #01c0c8;
}
.skin-megna-dark .btn-primary:hover {
	color: #fff !important;
	background-color: #01c0c8 !important;
	border-color: #01c0c8;
}
.skin-megna-dark .btn-primary.disabled,
.skin-megna-dark .btn-primary:disabled {
	color: #fff !important;
	background-color: #01c0c8cf !important;
	border-color: #01c0c8cf;
}
.skin-megna-dark .btn-primary:not(:disabled):not(.disabled).active,
.skin-megna-dark .btn-primary:not(:disabled):not(.disabled):active,
.skin-megna-dark .show > .btn-primary.dropdown-toggle {
	color: #fff !important;
	background-color: #01c0c8 !important;
	border-color: #01c0c8;
}
.skin-megna-dark .btn-outline-primary {
	color: #01c0c8cf;
	border-color: #01c0c8cf;
}
.skin-megna-dark .btn-outline-primary:hover {
	color: #fff !important;
	background-color: #01c0c8cf !important;
	border-color: #01c0c8cf;
}
.skin-megna-dark .btn-outline-primary.focus,
.skin-megna-dark .btn-outline-primary:focus,
.skin-megna-dark
	.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.skin-megna-dark
	.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.skin-megna-dark .show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}

/*bg*/
.skin-megna-dark .bg-primary {
	background-color: #01c0c8 !important;
}
.skin-megna-dark a.bg-primary:focus,
.skin-megna-dark a.bg-primary:hover,
.skin-megna-dark button.bg-primary:focus,
.skin-megna-dark button.bg-primary:hover {
	background-color: #01c0c8 !important;
}

/*table*/
.skin-megna-dark
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button.current,
.skin-megna-dark
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button.current:hover {
	color: #fff !important;
	border: 1px solid #01c0c8 !important;
	background-color: #01c0c8 !important;
}
.skin-megna-dark
	.dataTables_wrapper
	.dataTables_paginate
	.paginate_button:hover {
	color: #fff;
	border: 1px solid #01c0c8 !important;
	background-color: #01c0c8 !important;
}
.skin-megna-dark .table-hover tbody tr:hover {
	background-color: #01c0c8 !important;
}
.skin-megna-dark .page-item.active .page-link {
	color: #fff;
	background-color: #01c0c8;
	border-color: #01c0c8;
}

/* input */
.skin-megna-dark .form-check-input:checked {
	background-color: #01c0c8;
	border-color: #01c0c8;
}
.skin-megna-dark .form-check-input[type="checkbox"]:indeterminate {
	background-color: #01c0c8;
	border-color: #01c0c8;
}

/* tab active */
.skin-megna-dark .tabs-vertical li .nav-link.active,
.skin-megna-dark .tabs-vertical li .nav-link:hover,
.skin-megna-dark .tabs-vertical li .nav-link.active:focus {
	background: #01c0c8;
	border: 0px;
	color: #fff;
}
.skin-megna-dark .dropdown-menu a:focus {
	background: #01c0c8;
	border: 0px;
	color: #fff;
}

/*hover*/
.skin-megna-dark .page-titles .breadcrumb li.active a {
	color: #01c0c8 !important;
}
.skin-megna-dark .list-menu-content .item:hover {
	color: #01c0c8;
	border: 1px solid #01c0c8 !important;
}
.skin-megna-dark .customtab li a.nav-link.active,
.skin-megna-dark .profile-tab li a.nav-link.active {
	border-bottom: 2px solid #01c0c8;
	color: #01c0c8;
}
.skin-megna-dark .customtab li a.nav-link:hover,
.skin-megna-dark .profile-tab li a.nav-link:hover {
	color: #01c0c8;
}
.skin-megna-dark
	.custom-radio
	.custom-control-input:checked
	~ .custom-control-label::before {
	background-color: #01c0c8;
}
.skin-megna-dark
	.custom-checkbox
	.custom-control-input:checked
	~ .custom-control-label::before,
.skin-megna-dark
	.custom-checkbox
	.custom-control-input:indeterminate
	~ .custom-control-label::before {
	background-color: #01c0c8;
}
.skin-megna-dark a {
	color: #01c0c8;
}
.skin-megna-dark .right-sidebar .rpanel-title {
	color: #fff;
	background: #01c0c8;
}

/*end skin color*/

.btn-add.focus,
.btn-add:focus,
.btn-add:not(:disabled):not(.disabled).active:focus,
.btn-add:not(:disabled):not(.disabled):active:focus,
.show > .btn-add.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}
.btn-add {
	color: #fff !important;
	background-color: #000000b5 !important;
	border-color: #000;
}
.btn-add:hover {
	color: #fff !important;
	background-color: #000 !important;
	border-color: #000;
}
.btn-add.disabled,
.btn-add:disabled {
	color: #fff !important;
	background-color: #000000b5 !important;
	border-color: #000000b5;
}
.btn-add:not(:disabled):not(.disabled).active,
.btn-add:not(:disabled):not(.disabled):active,
.show > .btn-add.dropdown-toggle {
	color: #fff !important;
	background-color: #000 !important;
	border-color: #000;
}
